$primary: #00754a;
$primaryDark: #1e3932;
$secondary: #f2f0eb;
$white: #ffffff;
$black: #171717;
$blue: #9ee2ff;
$blueDark: #00509c;
$grey: #dadada;
$greyDark: #404040;
$green: #b0ffcd;
$greenDark: #098536;

:export {
    primary: $primary;
    primaryDark: $primaryDark;
    secondary: $secondary;
    white: $white;
    black: $black;
    blue: $blue;
    blueDark: $blueDark;
    grey: $grey;
    greyDark: $greyDark;
    green: $green;
    greenDark: $greenDark;
}
